.container {
    margin: auto;
    width: 35%;
    text-align: center;
    border-radius: 3px; 
    border: #E1E1E1 1.3px solid;
}

.merge {
    width: 100%;
    background-color: #1C86EE;
    height: 45px;
    border-radius: 5px;	
    margin-right: 2px;
    color: white;
    font-size: 20px;
    border: 2px transparent solid;
}

.list-item {
    width: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.list-item-percentage {
    color: #1C86EE;
    width: 20%;
    font-size: 20px;
}

.progress-bar {
    height: 30%;
    width: 30%;
    float: right;
}

.select {
    width: 50%;
    display: inline-block;
    border-radius: 2px;
    border: #E1E1E1 1.3px solid;
}

.menus {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 35%;
    height: 45px;;
    text-align: center;
    font-size: 20px;
    border-radius: 2px; 
}